.button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block; /* We set this up so that
    when we apply this style to non-buttons that vertical margin and
    padding actually takes effect.*/
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1; /* Similar to inline-block, we apply this so
    that the appearance is more button-like when applied to non-buttons */
    padding: $s-size;
    margin: 0;
    text-decoration: none;
    &:hover {
        background: darken($blue, 7%);
    };
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button--nobg {
    background: none;
    &:hover {
        background: none;
        color: $orange;
    };
}

.button--secondary {
    background: $grey;
    &:hover {
        background: darken($grey, 7%);
    };
}

.button--remove {
    margin: 0 0 $s-size 0;
    background: $grey;
    &:hover {
        background: darken($grey, 7%);
    };
}

.bottom-margin {
    margin: 0 0 $s-size 0;
}