
.date-estimator {
    padding: $s-size 0 0 0;
    margin: 0;
}

.date-estimator__title {
    color: $dark-grey;
    font-weight: 700;
    margin: 0 0 $s-size 0;
}

.date-estimator__text {
    margin: 0;
    }

.date-estimator__date {
    font-weight: 700;
    color: $orange;
    }

