/*
Direct descendants:
    We use the '> ELEMENT {}' statement to target
    direct descendants of a class. Below, we're using this to target
    ALL children in .form
*/

.form {
    display: flex;
    flex-direction: column;
    >* {
        margin-bottom: $m-size;
    }
}

.form__group {
    display: flex;
    flex-direction: column;
    margin: 0 0 $s-size 0;
}

.form__date-container {
    background-color: $off-white;
    border-radius: 5px;
    padding: $s-size;
}

.form__date-estimator {
    padding: $s-size 0 0 0;
    margin: 0;
}

.form__date-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}


.form__item-label {
    margin: 0 0 $s-size 0;
}

.form__label-container {
    display: flex;
    direction: row;
    justify-content: space-between;
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
    color: red;
}

.form__tooltip-image {
    height: 2rem;
    width: 2rem;
}