.header {
    background-color: $dark-blue;
}

.header__content {
    align-items: center; //aligns items vertically
    display: flex;
    justify-content: space-between; //distributes all leftover space between expensify title and logout button
    padding: $s-size 0; // adds a little space at top and bottom
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0; // Gets rid of dumb margin
    }
}

