.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

/* LIST BODY: we're add some space at the bottom so the page looks
nicer */
.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
      margin-bottom: $l-size;
  }  
}

.list-body__no-items {
    padding: $s-size;
    font-size: $font-size-small;
    color: $grey
}

/*
HOVER: Below we use &:hover, a shorthand way of making a CSS change happen
when it's hovered over.
*/

.list-item__container-outer {
  display: flex;
  flex-direction: column;
  padding: $s-size;
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  text-decoration: none;
  color: $grey;
  transition: background .3s ease;
  &:hover {
      background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) { //Moves amount to the the side when viewed in larger screens
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      padding: $m-size;
    }
}

.list-item__container-left {
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0 0 $s-size 0;
    color: $dark-grey;
    // word-break: break-all; //Stops user from breaking display by entering in super long description
}

.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
    word-break: break-all; //Stops user from breaking display by entering in super long description
}

.list-item__container-right {

  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: 30rem;
  max-width: 30rem;
  min-width: 30rem;
  margin: 0 0 0 0; // resolves issue with margin being way too big on mobile
}

.list-item__agency {
    text-align: right;
    color: $grey;
    margin: 0;
    font-size: none;
    font-weight: 400;
}



