
.login__button-container {
    display: flex;
    flex-direction: column;
}

.login__back {
    height: 2rem;
    margin: $s-size;
}

.login__fixed-height {
    height: 200px;
}

// FADE
// appear
.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

// enter
.fade-enter {
    opacity: 0;
    z-index: 1;    
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;    
}

// exit
.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;    
}